<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<h3>Single Page Application</h3>

<div id="ItemsList">
  <button v-on:click="selected='cars'">cars</button>
  <button v-on:click="selected='parts'">parts</button>
  <button v-on:click="selected='makes'">makes</button>
  <div v-if="selected==='cars'">
    <%= render 'cars/reuglar_table' %>
  </div>
  <div v-else-if="selected==='makes'">
    <%= render 'makes/table' %>>
  </div>
  <div v-else-if="selected==='parts'">
    <%= render 'parts/table' %>
  </div>
  <div v-else>
      <p>Click a button above!</p>
  </div>
</div>

<script type="text/javascript">
  var Main = new Vue({
      el: '#ItemsList',
      data: {
          cars: [],
          makes: [],
          parts: [],
          selected: ''
      },
      mounted: function() {
          axios.get('http://localhost:3000/cars.json')
              .then(response => { this.cars = response.data })
              .catch(error => { console.log(error); });
          axios.get('http://localhost:3000/makes.json')
              .then(response => { this.makes = response.data })
              .catch(error => { console.log(error); });
          axios.get('http://localhost:3000/parts.json')
              .then(response => { this.parts = response.data })
              .catch(error => { console.log(error); });
      }
  });

</script>
