
<nav class="navbar navbar-expand-md navbar-dark indigo">
  <div class="navbar-brand" href="">
      <img src="assets/icon/favicon-32x32.png" width="30" height="30" class="d-inline-block align-top" alt="">
      CarShop
  </div>
  <button class="navbar-toggler" type="button" aria-controls="navbarContent" 
      [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" 
      (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
  </button>

    
  <!-- Collapsable Options -->
  <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" (click)="selected = 'cars'">
        <div class="nav-link">Cars</div>
      </li>
      <li class="nav-item" (click)="selected = 'makes'">
        <div class="nav-link">Makes</div>
      </li>
      
      <li class="nav-item" (click)="selected = 'parts'"> 
        <div class="nav-link">Parts</div>
      </li>

      
    </ul>
    <a class="github" href="https://github.com/Newms226/CarShop" 
          placement="left" ngbTooltip="View this code's source">
      <i class="fab fa-github"></i>
    </a>
  </div>
  
  
</nav> 

<!-- Content -->
<div class="container">
  <div [ngSwitch]="selected">
    <div *ngSwitchCase="'cars'">
      <app-car-list></app-car-list>
    </div>
    <div *ngSwitchCase="'makes'">
      <app-make-list></app-make-list>
    </div>
    <div *ngSwitchCase="'parts'">
      <app-part-list></app-part-list>
    </div>
    <div *ngSwitchDefault>
      <app-status></app-status>
    </div>
  </div>
</div>