<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" 
        [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" 
        (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    
    <!-- Collapsable Options -->
    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
        <ul class="navbar-nav ml-auto">
        <!-- Search -->
            <div class="input-group">
                <input id="typeahead-basic" 
                    type="text" 
                    class="form-control" 
                    [(ngModel)]="state.make" 
                    [ngbTypeahead]="typeahead.makes"
                    placeholder="make"
                />
                <input id="typeahead-basic" 
                    type="text" 
                    class="form-control" 
                    [(ngModel)]="state.model" 
                    [ngbTypeahead]="typeahead.models"
                    placeholder="model"
                />
                <input id="typeahead-basic" 
                    type="text" 
                    class="form-control" 
                    [(ngModel)]="state.vin" 
                    [ngbTypeahead]="typeahead.vins"
                    placeholder="vin"
                />
                <input id="typeahead-basic" 
                    type="text" 
                    class="form-control" 
                    [(ngModel)]="state.part" 
                    [ngbTypeahead]="typeahead.parts"
                    placeholder="part"
                />
                <div class="input-group-append">
                    <button class="btn btn-success" (click)="update()">Search</button>
                </div>
            </div>
        
            <!-- Drop down options -->
            <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
                <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown3" role="button">
                    sort by
                </a>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault(); order='make'">make</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault(); order='model'">model</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault(); order='vin'">vin</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Car Card Display -->
<div *ngIf="response.meta.total != 0 else empty">
    <div class="card-columns">
        <div *ngFor="let car of response.data" class="card ">
            <app-car-display [car]="car"></app-car-display>
        </div>
    </div>
</div>

<ng-template #empty> 
    <div>No results found</div>
</ng-template>

<ng-template #loading> 
    <div>Loading</div>
</ng-template>


<!-- <table>
    <thead>
        <th scope="col">Make</th>
        <th scope="col">Model</th>
        <th scope="col">VIN</th>
        <th scope="col">Parts</th>
        <th scope="col">url</th>
    </thead>
    <tbody>
        <tr *ngFor="let car of response.data">
        <td scope="col">{{car.makeName}}</td>
        <td scope="col">{{car.model}}</td>
        <td scope="col">{{car.vin}}</td>
        <td scope="col">{{car.partsNames}}</td>
        <td scope="col">{{car.url}}</td>
        </tr>
        <!-- <tr *ngFor="let car of response.data">
            <app-car-display [car]="car"></app-car-display>
        </tr> -->
    <!-- </tbody>
</table> --> 
<!-- 
<mat-card class="test-class" *ngFor="let car of response.data">
    <mat-card-header>
        <mat-card-title>{{ car.model }}</mat-card-title>
        <mat-card-subtitle>{{ car.makeName }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>VIN: {{ car.vin }}</p>
        <p *ngIf="car._parts.length!==0">Parts: {{ car.partsNames.join(', ') }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Edit</button>
        <button mat-button>Delete</button>
    </mat-card-actions>
</mat-card> -->

<!-- <div *ngFor="let car of response.data">
    <app-car-display [car]="car"></app-car-display>
</div> -->